html {
    font-size: 10px;
}

form p {
    background-color: lemonchiffon;
}

p.magnify {
    font-size: 1.2rem;
}

form input, form textarea, form select {
    font-size: 1rem;
    background-color: #cfcfcf;
}

section p {
    background-color: lightcoral;
}

.name {
    border: 2px dashed green;
}

.name.required {
    border-color: red;
}


form span {
    display: inline-block;
    width: 5rem;
    padding-right: 10px;
}

form .required span {
    position: relative;
}

form .required span::after {
    content: '*';
    color: red;
    position: absolute;
    right: 0;
}

#p1 {
    color: #fff;
}

input[type~="el"] {
    font-weight: bold;
}